/*------------------Produto-------------------*/
.input-novo-produto {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-novo-produto {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn-novo-produto:hover {
    background-color: #007bff;
}

.p-novo-produto{
	margin-top:-9px;

}

.input-entrada-produto {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-entrada-produto {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.input-update-produto {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-update-produto {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn-novo-produto:hover {
    background-color: #007bff;
}

.p-update-produto{
	margin-top: -6px;
}

td{
  padding: 8px;
  text-align: left;
  vertical-align:middle;
  font-weight: 380;
  font-size: 15px;
  color: black;
}

/*------------------Fim Produto-------------------*/

/*------------------Cliente-------------------*/	 
 .input-novo-cliente {
	 
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

.btn-novo-cliente {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.input[type=submit]:hover {
    background-color: #85adad;
}

.input-update-cliente {
    padding: 4px;
	margin: 3px 0;
	font-size:15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}


.p-novo-cliente{
	margin-left:1px;
	margin-top:-10px;
	
}


.p-update-cliente{
	margin-top:-10px;
	
}

.btn-updatecliente {
    width: 100px;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 10px -1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.btn-updatecliente:hover {
    background-color: #007bff;
}

/*------------------Fim Cliente-------------------*/ 

.div-error {
	width:300px;
	height:1px;
    border-radius: 5px;
    background-color: white;
	margin-left:33%;
	padding: 20px;
	margin-top:4px;
}